.details-wrapper:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(43,43,49,0) 0%, #2b2b31 100%);
}
.image-details{
    background: center center / cover no-repeat;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 400px;
    z-index: 1;
    opacity: 0.07
}
.info-body-detail {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7019607843);
    margin-bottom: 15px;
    margin-top: 16px;
}
.info-desc-details p{
    min-height: 130px;
    overflow: hidden;
    height: 130px;
    max-height: 130px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7019607843);
    margin-bottom: 5px;
    transition: all 0.3s linear;
}

.info-desc-details.more p {
    height: 290px;
    max-height: 290px;
}

// Comment
.comments__rate button:first-child:before {
    content: '';
    position: absolute;
    display: block;
    left: 42%;
    margin-left: 12px;
    width: 1px;
    height: 15px;
    background-color: rgba(255,255,255,0.05);
    top: 50%;
    transform: translateY(-50%);
}

//Change tab
.comment-list {
    display: none;
}

.comment-list.active {
    display: block;
}

// comment text area
.form__input {
    border: 1px solid transparent;
    height: 50px;
    color: #fff;
    padding: 0 20px;
    background-color: #2b2b31;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    &:focus {
        border-color: var(--primary);
    }
}
.form__textarea {
    border: 1px solid transparent;
    height: 150px;
    position: relative;
    color: #fff;
    font-size: 16px;
    width: 100%;
    color: #fff;
    padding: 15px 20px;
    resize: none;
    background-color: #2b2b31;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    outline: none;
    &:focus {
        border-color: var(--primary);
    }
}
/* Progress */
.number-rate {
    margin-left: 20px;
    margin-top: -11px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

//Custom 
.noUi-horizontal {
    height: 5px !important;
}
.noUi-target {
    width: 150px;
    border-radius: 4px;
    border: none !important;
    background-color: #ffffff0d !important;
    box-shadow: none !important;
    cursor: pointer;
}
.noUi-connects {
    border-radius: 4px;
}
.noUi-connect {
    border: none !important;
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%) !important;
}

.noUi-horizontal .noUi-handle {
    width: 16px !important;
    height: 16px !important;
    top: -10px;
    left: 7px !important;
    background-color: #ff5860 !important;
}
.noUi-handle:before {
    display: none !important;
}
.noUi-handle:after {
    display: none !important;
}
.noUi-handle {
    border: none !important;
    cursor: default;
    box-shadow: none !important;
    border-radius: 50px !important;
}
.noUi-touch-area {
    cursor: pointer;
}

// custom-video
.custom-video {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    border-radius: 4px;
}


//responsive
@media (max-width: 960px) {
    .info-desc-details p {
        min-height: auto;
        height: auto;
        max-height: initial;
    }
    .info-desc-details.more p {
        height: 150px;
        max-height: 150px;
    }
}
@media (max-width: 719px) {
    .details-content-tabs {
        .navbar.active {
            display: flex;
        }
        .navbar {
            flex-direction: column;
            width: 180px;
            position: absolute;
            background-color: #2b2b31;
            z-index: 20;
            box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
            border-radius: 4px;
            overflow: hidden;
            padding: 15px 20px;
            align-items: flex-start;
            display: none;
            margin-left: 0;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 2px;
                display: block;
                background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
                box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
            }

            .nav-tab.active::after {
                transform: scale(0);
            }

            .custom-nav {
                display: none;
            }
        }
    }

    .toggle-nav-tabs {
        &::after{
            content: '';
            position: absolute;
            display: block;
            width: 16px;
            height: 2px;
            background-color: #fff;
            left: 10px;
            border-radius: 4px;
            top: 50%;
            transition: 0.4s ease;
            margin-top: -5px;
            transform: rotate(0);
        }
        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 2px;
            background-color: #fff;
            left: 10px;
            border-radius: 4px;
            top: 50%;
            transition: 0.4s ease;
            margin-top: 3px;
            transform: rotate(0);
        }
    }
    .toggle-nav-tabs.active {
        &::after{
            width: 16px;
            transform: rotate(45deg);
            margin-top: -2px;
        }
        &::before {
            width: 16px;
            transform: rotate(-45deg);
            margin-top: -2px;
        }
    }
}